#ignore les fichiers temporaires
*~
#ignore les copies de sauvegardes de emacs :
\#*\#
#ignore les bytecodes
*.cm[io]

#ignore les fichiers de doc
*.html
*.css
#ignore les binaires
*.out
#ignore les annot
*.annot
